body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

.produto {
    margin-top: 30px;
}

button {
    background: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
